.container {
    width: 100%;
    max-width: 480px;
    margin: auto;
}
.accordion {
    width: 100%;
    max-width: 540px;
    margin: 18px auto;
    color: #fff;
}
.accordionheading {
    background: #3f475d;
    padding: 14px 0;
}
.accordionheading .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accordionheading p {
    letter-spacing: 1.2px;
    font-weight: 600;
}
.accordionheading span {
    cursor: pointer;
}
.accordioncontent {
    background: #387a7f;
    height: 0;
    opacity: 0;
    display: flex;
    overflow: hidden;
    transition: all 600ms ease-in-out;
}
.accordioncontent .show {
    height: 180px;
    opacity: 1;
}
.accordioncontent p {
    font-size: 15px;
    line-height: 1.6;
}