
:root {
    --primary: #f68b1e;
}
.btnn {
    border-radius: 25px;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn--primary {
    background-color: var(--primary);
    color: rgba(245, 245, 245, 0.77); 
    border: 1px solid var(--primary);
}
.btn--outline {
    background-color: #f68b1e1c;
    color: var(--primary);
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    font-weight: 600;
    &:hover {
        background-color: inherit!important;
    }
}
.btn--medium {
    padding: 8px 25px;
    font-size: 16px;
}
.btn--large {
    padding: 8px 20px;
    font-size: 20px;
}
.btn--medium:hover,
.btn--large:hover {
    background-color: #f68a1ea6;
    transition: all 0.3s ease-out;
}
ol, ul {
    padding-left: 0;
}
@media (max-width: 996px) and (min-width: 740px) {
    .btn--medium {
        padding: 8px 15px;
    }
}