


.img {
    height: 100%;
    width: 100%;
}

.about_us h2 {
    color: #fff;

    font-size: 2em;
    font-weight: 2em; 
}
.about_us p {
    font-size: 1em;
    color: #fff;
    
}

.about_us{
    background-color: #f68b1e;
    padding: 2em;

 
}
.about_us h4 {
    font-size: 2em;
    font-weight: 2rem;
}




.about_us h6 {
    font-size: 0.8rem;
}

.single_feature span {
     width: 50px;
     height: 50px;
     border-radius: 50px;
     background-color:#fff ;
    display: flex;
    align-items: center ;
    justify-content: center;
    color: #f68b1e;
    margin-bottom: 10px;
      
}

.single_feature span i {
    font-size: 1.5rem;
}
  
.single_feature p {
    font-size: 0.7rem;
}

 .features .feature_icon1{

    background-color: rgb(37, 150, 106);
    color: #fff;
 }
.features .feature_icon2 {

    background-color: orange;
    color: #fff;
}

.features .feature_icon3 {

    background-color:skyblue;
    color: #fff;
}